/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
text-decoration: none;
color: #222;
}

body {
font-family: "Roboto", sans-serif;
}

.site-header {
position: relative;
background-color: #def7ff; }

.site-header-wrapper {
padding-top: 30px;
padding-bottom: 30px; 
}

.logo {
    font-size: 22px;
    position:fixed;
    top: 20px;
    left: 60px;
}

ul {
    display: inline-block;
    position:fixed;
    top: 8px;
    right: 3px;
}

li {
    float: left;
    list-style: none;
    padding-right: 7px;
}

