/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

 body {
    font-family: "Roboto", sans-serif;
    margin:0px;
    }

.body {
    margin: 0px 25%;
    padding: 0px;
}

 //リンク部分
a {
text-decoration: none;
color: #222;
}

//header部分
header {
    margin: 0px;
    padding: 8px;
    display:flex;
    background-color:rgb(29, 80, 173);
    height: 98px;

    .logo {
    font-size: 22px;
    margin-right:auto;
    margin-top: 30px;
    margin-left: 12px;
    }

    li {
    text-align: center;
    float: left;
    list-style: none;
    padding: 20px;
    margin-top: 0px;
    margin-right: 5px;
    }

    li + li {
    border-left: 1px solid #000;
    }

    .left {
    border-left: 1px solid #000;
    }

    .right {
    border-right: 1px solid #000;
    }
}



