/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 .edit_user {
     padding-top: 8px;
 }

 .field {
     padding-top: 8px;
 }

 #user_email {
     width: 65%;
 }

 #user_password {
     width: 25%;
 }

 #user_password_confirmation {
     width: 25%; 
 }

 #user_current_password {
     width: 25%;
     margin-bottom: 50px;
 }

 .sep {
     padding-top: 10px;
 }

 #user_name {
     width: 50%
 }

 #user_skill {
     width: 60%;
 }

 #user_age {
     width: 10%;
 }

 #user_job {
     width: 60%;
 }

 #user_profile {
     width: 97%;
     height: 240px;
 }

 .back {
     padding-bottom: 30px;
 }